
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.table-responsive{
  overflow-x: auto; 
  white-space: nowrap; 
}

/*Buttons */

.custom-th th{
  background-color: #001F5B;
  color:white;
}

.custom-btn {
  background-color: #001F5B;
  color: white; 
}
.custom-btn:hover{
  background-color: #02318f;
  color: white;
}

.custom-bg{
  background-color: #02318f;
  color: white;
}

.btn-orange{
 background-color: #FF7F00;
 color:white;
 transition-duration: 0.2s;
 
}
.btn-orange:hover{
 background-color: #c36405;
 color:white;

}

/* Pagination */
.pagination-bd {
  border: 4px solid transparent;
  background: linear-gradient(45deg, #4D72DA, #C7C7FC) border-box;

}

.pagination-bd > div{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hdr-container{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.action-container{
  flex-direction: row;
  justify-content: end;
  align-items: center;

}


@media (max-width: 992px) {
  .container {
    text-align: center;
    justify-content:center;
  }
  .hdr-container{
    flex-direction: column;
    justify-content:center;
  }
  .gap-3 {
    gap: 1rem !important;
  }

  .flex-wrap {
    justify-content: center;
  }
  .pagination-bd > div{
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
}



/* Scroll bar  */
.custom-scrollbar {
  max-height: 400px; 
  overflow-x: auto; 

}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #001f54; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #004080;
}
